/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.h1-repost {
  font-size: 50px;
  color: #333333;
  font-weight: 500;
  padding: 50px;
  text-align: center;
}

.h1-twit {
  font-size: 50px;
  color: #333333;
  font-weight: 500;
  padding: 50px;
  text-align: center;
}
