<div style="background-image: url('<%= image_tag ("bg-homepage.jpg") %>')">
  <div>
    <h1>Reposter</h1>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>
