.twit {
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

.twit-h1 {
  font-size: 50px;
  color: #333333;
  font-weight: 300;
  padding: 50px;
  text-align: center;
}

.twit-image {
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid #dedede;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.twit-body {
  flex: 1 1 auto;
}

.twit-body h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}

.twit-body h5 {
  font-family: arial;
  font-size: 15px;
  color: #414142;
}

.twit-body h6 {
  font-size: 14px;
  color: #aab8c2;
  font-family: arial;
}

.twit-body p {
  color: #aab8c2;
  margin-bottom: 6px;
  font-family: "arial";
  font-style: italic;
  font-size: 13px;
}

.twit-link {
  color: #469AE0;
  text-decoration: none;
  font-size: 15px;
}

.twit:hover {
  background: #f7f7fa;
  padding: 30px;
  border-radius: 10px;
}

.fa.fa-heart.fa {
  color: #aab8c2;
}

.fa.fa-retweet.fa {
   color: #aab8c2;
}

.checkbox-hidden {
  visibility: hidden;
  float: left;
}
